@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("ttf");
  font-family: "Shrikhand";
  src: url("/fonts/'Shrikhand-Regular.ttf") format("ttf");
}

body {
  max-width: 1280px;
  min-width: 375px;
  margin: 0;
  padding: 0;
}

.logo {
  width: 5em;
  position: fixed;
  left: 3em;
}

.introduction {
  height: 16em;
  text-align: center;
  background-color: #F2F2F2;
}

.introduction__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gray;
}

.introduction__location p {
  margin-left: 1em;
}

.introduction--title {
  font-family: "Roboto";
  margin-left: 2.5em;
  width: 70%;
}

.introduction--describe {
  font-family: "Shrikhand";
  font-size: 1.2em;
  width: 80%;
  margin-left: 2.2em;
}

p {
  font-family: "Roboto";
}

.menu {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu--title {
  position: relative;
  right: 4.2em;
}

.menu .menu__cards {
  height: 14em;
  width: 90%;
  background-color: white;
  border-radius: 1em;
  margin-bottom: 1em;
}

.menu .menu__cards--link {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.menu .menu__cards--size {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.menu .menu__cards--title {
  font-style: "Roboto";
  font-size: 1.1em;
  margin-top: 0.2em;
  margin-bottom: -0.5em;
  margin-left: 0.5em;
}

.menu .menu__cards--describe {
  font-style: "Roboto";
  margin-left: 0.5em;
}

.step {
  margin-left: 0.5em;
}

.step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 1em;
  -webkit-box-shadow: 2em;
          box-shadow: 2em;
  border: 1em;
  border-radius: 1em;
  background-color: grey;
  position: relative;
}

.step__number--title {
  margin-left: 1em;
}

.number {
  position: absolute;
  left: -5px;
  top: 1em;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__title {
  font-weight: bold;
  font-family: "Shrikhand";
  font-style: italic;
  margin-left: 0.7em;
  color: white;
}

footer .footer__links {
  color: white;
  font-family: "Srikhand";
  font-size: 1em;
  text-decoration: none;
  margin-left: 1em;
  margin-bottom: 0.4em;
}

footer .fa-hands-helping {
  font-size: 0.8em;
}

footer .footer--marge {
  margin-right: 1em;
}

.underline {
  border-bottom: 100px solid red;
}
/*# sourceMappingURL=main.css.map */