@-webkit-keyframes animation-visible {
  0% {
    visibility: hidden;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes animation-visible {
  0% {
    visibility: hidden;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes balls {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@keyframes balls {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
  }
  33% {
    -webkit-animation-duration: 666ms;
            animation-duration: 666ms;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-animation-duration: 333ms;
            animation-duration: 333ms;
  }
}

@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
  }
  33% {
    -webkit-animation-duration: 666ms;
            animation-duration: 666ms;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-animation-duration: 333ms;
            animation-duration: 333ms;
  }
}

@-webkit-keyframes dot {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes dot {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes hide {
  0% {
    -webkit-transform: opacity(1);
            transform: opacity(1);
    width: 100%;
    height: 100%;
  }
  90% {
    -webkit-transform: opacity(0);
            transform: opacity(0);
  }
  100% {
    top: -100px;
    width: 0;
    height: 0;
  }
}

@keyframes hide {
  0% {
    -webkit-transform: opacity(1);
            transform: opacity(1);
    width: 100%;
    height: 100%;
  }
  90% {
    -webkit-transform: opacity(0);
            transform: opacity(0);
  }
  100% {
    top: -100px;
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes hidespinner {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0s;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@keyframes hidespinner {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0s;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@-webkit-keyframes rotate__icon {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate__icon {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=keyframes.css.map */