@charset "UTF-8";
body {
  max-width: 1280px;
  min-width: 375px;
  margin: 0;
  padding: 0;
}

/* en-tête index.html */
header {
  text-align: center;
  height: 3em;
}

header .logo--main {
  text-align: center;
  font-family: "Shrikhand";
}

/*fin */
/* en-tête pages de menu */
.start {
  text-align: center;
  -webkit-box-shadow: 5px 7px 7px #F6F6F6;
          box-shadow: 5px 7px 7px #F6F6F6;
  height: 2.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start .logo {
  text-align: center;
  font-family: "Shrikhand";
  position: relative;
  left: 2.3em;
}

.start .start--link {
  margin-left: 1em;
  color: black;
}

/* en-tête pages de menu */
p {
  font-family: 'Roboto';
}

.introduction {
  text-align: center;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  padding-bottom: 2em;
}

.introduction__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
}

.introduction__location p {
  margin-left: 1em;
}

.introduction--title {
  font-family: 'Roboto';
  width: 70%;
}

.introduction--describe {
  font-family: 'Roboto';
  font-size: 1.2em;
}

.introduction__buton {
  width: 15em;
  height: 3em;
  border: none;
  border-radius: 2em;
  margin-bottom: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFFF;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
}

.step {
  margin-left: 2.5em;
  margin-bottom: 3em;
}

.step--title {
  margin-left: -0.5em;
  font-family: "Roboto";
  font-weight: 900;
}

.step__number {
  width: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 2px 7px 7px #EAEAEA;
          box-shadow: 2px 7px 7px #EAEAEA;
  border: 1em;
  border-radius: 0.7em;
  background-color: #F6F6F6;
  position: relative;
}

.step__number--title {
  margin-left: 1em;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.1em;
}

.step__number--color {
  color: #7E7E7E;
}

.step__number--marged {
  margin-left: -1em;
}

.step__number--marged2 {
  margin-left: -0.5em;
}

.step--lozenge {
  position: absolute;
  left: -5px;
  top: 16px;
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 20px;
  color: #FFFF;
  background-color: #9356DC;
  border: solid 1px #9356DC;
  border-radius: 50%;
}

.menu {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.5em;
}

.menu--title {
  font-family: "Roboto";
  font-weight: 700;
  position: relative;
  right: 4.2em;
}

.menu__cards {
  height: 14em;
  width: 90%;
  background-color: #F6F6F6;
  border-radius: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 2px 7px 7px #EAEAEA;
          box-shadow: 2px 7px 7px #EAEAEA;
}

.menu__cards--link {
  text-decoration: none;
  color: black;
}

.menu__cards--size {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.menu__cards--title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 0.2em;
  margin-bottom: -0.5em;
  margin-left: 0.5em;
}

.menu__cards--describe {
  font-style: "Roboto";
  margin-left: 0.5em;
}

.menu--new {
  position: relative;
  left: 14.5em;
  bottom: 13em;
  border: solid 1px #99E2D0;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-weight: bold;
  padding: 5px;
}

.menu__heart--black {
  position: relative;
  left: 15em;
  bottom: 3.3em;
  width: 12px;
  height: 12px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__heart--black::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -5.6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
}

.menu__heart--black::after {
  content: "";
  position: absolute;
  top: -5.6px;
  right: 0px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}

.menu__heart--white {
  position: relative;
  left: 241px;
  bottom: 63px;
  width: 10px;
  height: 10px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /*transition: background-color 400ms;*/
}

.menu__heart--white:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.menu__heart--white:hover::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.menu__heart--white:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.menu__heart--white::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  /*transition: background-color 400ms;*/
}

.menu__heart--white::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  /*transition: background-color 400ms;*/
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2.5em;
}

footer .footer__title {
  font-family: "Shrikhand";
  margin-left: 0.7em;
  color: #FFFF;
}

footer .footer__links {
  color: #FFFF;
  font-family: "Roboto";
  font-size: 1em;
  text-decoration: none;
  margin-left: 1em;
  margin-bottom: 0.4em;
}

footer .fa-hands-helping {
  font-size: 0.8em;
}

footer .footer--marge {
  margin-right: 1em;
}

/* Palette du gout */
.bigcards__picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.composition {
  background-color: #F6F6F6;
  padding-top: 1em;
  border-radius: 3em 3em 0 0;
  position: relative;
  top: -2.9em;
  padding-bottom: 3em;
}

.composition--title {
  font-family: "Shrikhand";
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.palette__entry {
  margin: 0.5em;
}

.palette__entry .palette--title {
  font-family: "Roboto";
  font-size: 1em;
  text-transform: uppercase;
  color: grey;
}

.palette__entry .palette--title .underline {
  border-bottom: solid 2px #99E2D0;
}

.palette__entry .palette__cards {
  background-color: #FFFF;
  border-radius: 0.8em;
  margin-bottom: 1.8em;
}

.palette__entry .palette__cards .palette--link {
  text-decoration: none;
  color: black;
}

.palette__entry .palette__cards .dish__name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: -0.5em;
  margin-left: 0.5em;
}

.palette__entry .palette__cards .descriptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0.5em;
  margin-bottom: -0.5em;
}

.palette__entry .palette__cards .descriptive--details {
  font-weight: 300;
  color: #7E7E7E;
}

.palette__entry .palette__cards .descriptive--price {
  margin-right: 1.1em;
  font-weight: 700;
}

/* La note enchantee */
.bigcards__picture--enchantee {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* A la francaise" */
.bigcards__picture--francaise {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__buton {
  width: 11.5em;
  height: 3em;
  border: none;
  border-radius: 2em;
  margin-top: 2.5em;
  margin-left: 4em;
  margin-bottom: 1em;
  padding-left: 1em;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFFF;
  font-size: 1em;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  -webkit-box-shadow: 2px 4px 5px #353535;
          box-shadow: 2px 4px 5px #353535;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.order__buton:hover {
  opacity: 0.8;
  -webkit-box-shadow: 2px 4px 15px black;
          box-shadow: 2px 4px 15px black;
}
/*# sourceMappingURL=main.css.map */