@import 'keyframes';
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$text-tertiary: #008766;
$white: #FFFF;
$background: #F6F6F6;
$footercolor: #353535;
$headcolor: #EAEAEA;
$textcolor: black;
$fontawesomecolor: #7E7E7E;


body {
    z-index: 0;
    max-width: 1280px;
    min-width: 375px;
    margin: 0;
    padding: 0;
}

/* en-tête index.html */
header {
    text-align: center;
    height: 3em;

    .logo--main {
        text-align: center;
        font-family: "Shrikhand";
    }
}
/*fin */

/* en-tête pages de menu */
.start {
    text-align: center;
    box-shadow: 5px 7px 7px $background;
    height: 2.8em;
    display: flex;
    align-items: center;    

    .logo {
        text-align: center;
        font-family: "Shrikhand";
        position: relative;
        left: 2.3em;
    }
    
    .start--link {
        margin-left: 1em;
        color: $textcolor;
    }
}

/* en-tête pages de menu */

p {
    font-family: 'Roboto';
}

.introduction {
    text-align: center;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 2em;

    &__location {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color:$headcolor;

        & p {
            margin-left: 1em;
        }
    }

    &--title {
        font-family: 'Roboto';
        width: 70%;
    }

    &--describe {
        font-family: 'Roboto';
        font-size: 1.2em;
    }

    &__buton {
        display: flex;
        justify-content: center;
        width: 15em;
        height: 3em;
        border-radius: 2em;
        padding-bottom: 0.3em;
        background: linear-gradient($secondary, $primary);
        color:$white;
        text-decoration: none;
        font-family: "Roboto";
        font-size: 1em;
        font-weight: 400;
        box-shadow: 2px 4px 5px $footercolor;
        transition: all 250ms;

        &:hover {
            opacity: 0.8;
            box-shadow: 2px 4px 15px black;
        }
    }
}

.step {
    margin-left: 2.5em;
    margin-bottom: 3em;
    
    &--title {
        margin-left: -0.5em;
        font-family: "Roboto";
        font-weight: 900;
    }

    &__number {
    width: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 7px 7px $headcolor;
    border: 1em;
    border-radius: 0.7em;
    background-color: $background;
    position: relative;

    &--title {
        margin-left: 1em;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 1.1em;
        }
    
    &--color {
        color: $fontawesomecolor;
    }

    
    &--marged {
        margin-left: -1em;
    }

    &--marged2 {
        margin-left: -0.5em;
    }
    }

    &--lozenge {
        position: absolute;
        left: -5px;
        top: 16px;
        text-align: center;
        height: 20px;
        width: 20px;
        line-height: 20px;
        color: $white;
        background-color: $primary;
        border: solid 1px $primary;
        border-radius: 50%;
    }
}

.menu {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5em;

    &--title {
        font-family: "Roboto";
        font-weight: 700;
        position: relative;
        right: 4.2em;
    }

    &__cards {
        height: 14em;
        width: 90%;
        background-color: $background;
        border-radius: 1em;
        margin-bottom: 1em;
        box-shadow: 2px 7px 7px $headcolor;

        &--link {
            text-decoration: none;
            color: $textcolor;
        }
        &--size {
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-radius: 1em 1em 0em 0em;
        }

        &--title {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 1.1em;
            margin-top: 0.2em;
            margin-bottom: -0.5em;
            margin-left: 0.5em;   
        }

        &--describe {
            font-style: "Roboto";
            margin-left: 0.5em;
        }
    }

    &--new {
        position: relative;
        left: 14.5em;
        bottom: 13em;
        border: solid 1px $tertiary;
        border-radius: 2px;
        color:$text-tertiary;
        background-color: $tertiary;
        font-weight: bold;
        padding: 5px; 
    }

    &__heart--black {
        position: relative;
        left: 15em;
        bottom: 3.3em;
        width: 12px;
        height: 12px;
        background-color: black;
        transform : rotate(45deg);
    
    
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: -5.6px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color:black;
    
        }
    
        &::after {
            content: "";
            position: absolute;
            top: -5.6px;
            right: 0px;
            width: 12px;
            height: 12px;
            background-color:black;
            border-radius: 50%;
        }
    }
    
    &__heart--white {
        position: relative;
        left: 241px;
        bottom: 63px;
        width: 10px;
        height: 10px;
        background-color: $white;
        transform : rotate(45deg) scale(1);
        transition: transform;
        transition-duration: 500ms;

        &:hover {
            background: linear-gradient($secondary, $primary);
            transform: rotate(45deg) scale(1.5);
            
            &::after {
                background: linear-gradient($secondary, $primary);
                transform: rotate (90deg);
            }
            
            &::before {
                background: linear-gradient($secondary, $primary);
            }
            
        }
        
        &::before{
            content: "";
            position: absolute;
            bottom: 0px;
            left: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $white 
        }
        
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            right: 0px;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
        }
    }
}

footer {
    background-color: $footercolor;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5em;

    .footer__title {
        font-family: "Shrikhand";
        margin-left: 0.7em;
        color:$white;
    }

    .footer__links {
        color: $white;
        font-family: "Roboto";
        font-size: 1em;
        text-decoration: none;
        margin-left: 1em;
        margin-bottom: 0.4em;
    }
    
    .fa-hands-helping {
        font-size: 0.8em;
    }

    .footer--marge {
        margin-right: 1em;
    }
}

/* Palette du gout */ 

.bigcards__picture {
    width: 100%;
    object-fit: cover;
}

.composition {
    background-color: $background;
    padding-top: 1em;
    border-radius: 3em 3em 0 0;
    position: relative;
    top: -2.9em;
    padding-bottom: 3em;

    &--title {
        font-family: "Shrikhand";
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__heart--black {
        position: relative;
        left: 30px;
        bottom: 0;
        width: 17px;
        height: 17px;
        background-color: black;
        transform : rotate(45deg);
    
    
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: -7px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color:black;
    
        }
    
        &::after {
            content: "";
            position: absolute;
            top: -7px;
            right: 0px;
            width: 17px;
            height: 17px;
            background-color:black;
            border-radius: 50%;
        }
    }

    &__heart--white {
        position: relative;
        left: -25px;
        bottom: 0;
        width: 14px;
        height: 14px;
        /*background-color: $white;*/
        transform : rotate(45deg) scale(1);
        transition: transform;
        transition-duration: 500ms;
        background-color: white;

        &:hover {
            background: linear-gradient($secondary, $primary);
            transform: rotate(45deg) scale(1.5);
            
            &::after {
                background: linear-gradient($secondary, $primary);
                transform: rotate (90deg);
            }
            
            &::before {
                background: linear-gradient($secondary, $primary);
            }
            
        }
        
        &::before{
            content: "";
            position: absolute;
            bottom: 0px;
            left: -5.8px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $white 
        }
        
        &::after {
            content: "";
            position: absolute;
            top: -5.8px;
            right: 0px;
            width: 14px;
            height: 14px;
            background-color: white;
            border-radius: 50%;
        }
    }
}

.palette__entry {

    margin: 0.5em;
    
    .palette--title{
        font-family: "Roboto";
        font-size: 1em;
        text-transform: uppercase;
        color: grey;


        .underline {
            border-bottom: solid 2px $tertiary;
        }
    }

    .palette__cards {
        background-color: $white;
        border-radius: 0.8em;
        margin-bottom: 1.8em;
    
        .palette--link {
            text-decoration: none;
            color: $textcolor;
        }
    
        .dish__name {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 1.2em;
            margin-top: 1em;
            margin-bottom: -0.5em;
            margin-left: 0.5em;
        }
    
        .descriptive {
            display: flex;
            justify-content: space-between;
            margin-left: 0.5em;
            margin-bottom: -0.5em;

            &--detailsqs {
                font-weight: 300;
                color: $fontawesomecolor;
            }

            &--price {
                margin-right: 1.1em;
                font-weight: 700;
            }
        }

        .palette--checkicon {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 159.2px;
            right: 0.5em;
            height: 64px;
            width: 60px;
            border-radius: 0em 0.8em 0.8em 0;
            background-color: #99e2d0;

            & i {
                color: white;
            }
        }
    }
}



/* La note enchantee */ 
.bigcards__picture--enchantee {
    height: 15em;
    width: 100%;
    object-fit: cover;
}

/* A la francaise" */ 
.bigcards__picture--francaise {
    height: 15em;
    width: 100%;
    object-fit: cover;
}

.order__buton {
    display: inline-block;
    width: 11.5em;
    height: 3em;
    border: none;
    border-radius: 2em;
    margin-top: 2.5em;
    margin-left: 4em;
    margin-bottom: 1em;
    padding-left: 0em;
    opacity: 1;
    background: linear-gradient($secondary, $primary);
    
    color:$white;
    font-size: 1em;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    box-shadow: 2px 4px 5px $footercolor;
    transition: all 250ms;

    &:hover {
        opacity: 0.8;
        box-shadow: 2px 4px 15px black;
    }
}

/* Animation apparition menu */ 

.delay--one {
    visibility: hidden;
    opacity: 0;
    animation: animation-visible 200ms;
    animation-fill-mode: both;
    animation-delay: 500ms;
}

.delay--two {
    visibility: hidden;
    opacity: 0;
    animation: animation-visible 200ms;
    animation-fill-mode: both;
    animation-delay: 750ms;
}

.delay--three {
    visibility: hidden;
    opacity: 0;
    animation: animation-visible 200ms;
    animation-fill-mode: both;
    animation-delay: 1000ms;
}

/* Loading spinner */ 

.spinner {
    position: relative;
    z-index: 200;
    top: 20em;
    left: 1em;
    animation: hidden;
    width: 20em;
    height: 20em;
    border: solid 6px white;
    border-radius: 50%; 
    background-color: white;

    &::after {
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border: solid 6px transparent;
        border-top-color: $primary;
        border-bottom-color: $secondary;
        border-radius: 50%;
        /*animation: spin 2000ms ease-in infinite;*/
    }

    &--load {
        position: relative;
        bottom: 10em;
        left: 7em;
        font-family: "Shrikhand";
    }
    
    &--quart {
        position: relative;
        top: 0px;
        left: 0px;
        width: 18.6em;
        height: 18.6em;
        opacity: 0.8;
        border: solid 6px transparent;
        border-right-color: $primary;
        border-left-color: $secondary;
        opacity: 0.8;
        border-radius: 50%;
        /*animation: spinreverse 2000ms ease-out infinite;*/
        transition-timing-function: cubic-bezier(1,0,1,.59);
    }

    &--dot {
        content: "";
        position: relative;
        bottom: 10em;
        left: 7em;
        font-family: "Shrikhand";
        border-radius: 50%;
        opacity: 1;
        animation: dot 333ms linear infinite alternate-reverse both;
        animation-delay: 500ms;
    }

    &--dot1 {
        animation: dot 1s linear infinite alternate-reverse both;
        animation-delay: 0s;
    }

    &--dot2 {
        animation: dot 1s linear infinite alternate-reverse both;
        animation-delay: 0.5s;
    }

    &--dot3 {
        animation: dot 1s linear infinite alternate-reverse both;
        animation-delay: 1s;
    }
    
}